.section-5{
    background-color: $white;
    padding: 0% 5% 5% 5%;
    &>div{
        display: flex;
        flex-wrap: wrap;
        &>div{
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }
    }
    &>:first-child {
        &>:first-child img{
            @include fill();
            object-fit: cover;
        }
        &>:last-child{
            background-color: $thick-green;
            @include flex-center();
            flex-direction: column;
            color: $white;
            padding: 10%;
            text-align: center;
            img{ margin: 20px 0 20px 0; }
            .open-video-btn{
                border: 1px solid $white;
                width: 100%;
                padding: 1em;
                font-weight: bolder;
                margin-top: 10px;
                font-size: 0.9em;
                &>*{
                    color: $white;
                    margin-right: 5px;
                }
                &:hover {
                    background-color: $white;
                    &>* {color: $black}
                }
            }
        }
    }
    &>:last-child {
        padding: 20px 0;
        justify-content: space-between;
        align-items: center;
        img{
          margin: 10px 0px;
          object-fit: contain;
        }
    }
}

.video-player{
    @include flex-justify-center();
    overflow: hidden;
    .container{
        position: relative;
        overflow: hidden;
        &>button{ margin-left: calc(100% - 60.5px); }
        video{ 
            max-width: 80vw; 
            max-height: 80vh;
        }
        .cover {
            position: absolute;
            width: 100%;
            top: 40px;
            bottom: 0;
        }
        .controls{
            position: absolute;
            bottom: 0;
            height: 40px;
            background-color: $green-main;
            width: 100%;
            @include flex-align-center();
            button{ min-width: unset; }
            .slide-container{
                width: 70%;
                @include flex-align-center();
                margin-left: 14px;
                position: relative;
            }
        }
    }
    &.preview{
        width: 150px;
        position: absolute;
        bottom: 25px;
        video {
            max-width: 100%;
            max-height: 100%;
        }
        .cover{ @include flex-center(); }
        .readable{
            background-color: $light-black;
            padding: 4px 12px;
            border-radius: 5px;
        }
    }
}

.video-loading-ui{
    color: $deem-white;
    @include flex-justify-center();
    .MuiCircularProgress-root{
        width: 25px !important;
        height: 25px !important;
        margin-right: 8px;
        color: inherit;
    }
    &:is(.section-3 .video-loading-ui){
        color: $light-black;
        width: 100%;
        margin: 10% 0;
    }
}